.fullheader p{
  font-family: proxima-nova;
  font-size: 20px;
  word-spacing: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100px;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  display: inline-block;
  vertical-align: top;
}

#headerimg {
  margin-left: 100px;
  margin-right: 600px;
  margin-top: 20px;
}

#su {
  word-spacing: 2px;
}

#li {
  word-spacing: 2px;
}
