body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: white; 
    margin-left: -10px;
}

a:link, a:visited {
    color: white; 
    text-decoration: none;
}
a:hover {
    color: #00e364;
}

/* header */
header {
    width: 100%;
} 

.navigation-bar {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background-color: black;
    padding: 10px;
    position: fixed;
    top: 0; 
}   

.navigation-bar img {
    margin-left: 75px;
}

.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-left: 600px;
    padding-top: 25px;
}

.navigation-bar ul li {
    display: inline;
    margin-left: 20px; 
    font-weight: bold;
}

/* footer */ 
.footerrow {
    width: 100%;
    background-color: black;
    font-size: 14px;
    padding: 75px 30px;
    position: absolute;
    bottom: 0px;
}

.footerrow ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

.footerrow ul li {
    padding: 15px 0px;
}

.footerrow img {
    margin-left: 55px;
}

.footerheading {
    color: #909496; 
    font-weight: bold;
}

.footercolumnlogo {
    float: left; 
    width: 20%;
}

.footercolumnlink {
    float: left; 
    width: 15%;
}

.footercolumnlink {
    float: left; 
    width: 15%;
}

.footercolumnmedia {
    float: left; 
    width: 35%;
}

.footercolumnmedia p {
    margin-right: 150px;
    float: right;
}

.footerrow:after {
    content: "";
    display: table;
    clear: both;
}

/* icons */ 
.fab {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-instagram {
    background: #222326;
    color: white;
  }

  .fa-facebook-f {
    background: #222326;
    color: white;
  }
  
  .fa-twitter {
    background: #222326;
    color: white;
  }

